nav {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 0.25rem;
    place-items: center;
    margin: 0.5rem;
    justify-content: end;
}

.navigation__list {
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
}

.navigation__logo {
    height: 100px;
    
}

.navigation__logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}