.rating__container {
    padding: 3rem;
    margin: 0.5rem;
    border: 2px solid lightgray;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.leaveRating__container {
    border: 2px solid lightgray;
    padding: 0 3rem;
}

.database__reviews {
    border: 2px solid lightgray;
    padding: 0 3rem;
}

.star-rating {
    display: grid;
    grid-template-columns: repeat(5, 50px);
}
