.header__container {
  background-color: black;
  color: lightgray;
  border: 5px solid lightgray;
  display: grid;
  place-items: center;
  margin: 0 0.25rem;
  height: 85vh;
}

.header__background__image {
  color: lightgray;
  border: 5px solid lightgray;
  display: grid;
  /* place-items: center; */
  margin: 0.5rem;
  height: 80vh;
  width: 98%;
  background-image: url("../images/moor.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  /* grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%; */
  grid-template: 
    "title contact" 80%
    "banner banner" 20% /
    1fr 1fr
  ;
}

.main-title {
  grid-area: title;
  padding-left: 3rem;
  font-size: 10rem;
  font-family: 'Reem Kufi Fun', sans-serif;
  line-height: 0;
}

.contact-info {
  grid-area: contact;
  grid-template-rows: 1fr auto auto;
  padding-left: 10rem;
  font-size: 1.5rem;
}

.contact-info h3 {
  padding-top: 23rem;
}

.lowerBanner {
  grid-area: banner;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  font-size: 1.5rem;
}

.lowerBanner img {
  height: 75px;
}

@media screen {
  @media only screen and (max-width: 600px) {
    .header__background__image {
      border: none;
    grid-template: 
    "title"
    "contact"
    "banner"
    
    }
  ;
  }
}